.git/
.gitignore
**/node_modules/
.env
Dockerfile
.dockerignore
**/venv/
openai-key.txt
**/tododb
**/playlistdb
**/passwordsdb
**/bookingdb
**/emojipaintdb
data
*.tar
codeql
*.csv
*.png
**/_build
_opam
dist
