node_modules/
dist/
*.bqrs
*.txt
*.csv
# *.json
credentials.json
config.json
.env
venv
codeql
*db
*types-and-headers/
*vector-retrieval/
*exhaustive-retrieval/
targets/**/*.js
_opam
# _build
**/injected_sketch.ts
*.log
